<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AdventureWorks</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">AdventureWorks</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Bikes
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "Bikes", "Home")</li>
                        <li>@Html.ActionLink("Mountain", "Bikes", "Home", new { style = "mountain" }, null)</li>
                        <li>@Html.ActionLink("Road", "Bikes", "Home", new { style = "road" }, null)</li>
                        <li>@Html.ActionLink("Touring", "Bikes", "Home", new { style = "touring" }, null)</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Components
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "Components", "Home", new { type = "All" }, null)</li>
                        <li>@Html.ActionLink("Handlebars", "Components", "Home", new { type = "Handlebars" }, null)</li>
                        <li>@Html.ActionLink("Bottom Brackets", "Components", "Home", new { type = "Bottom Brackets" }, null)</li>
                        <li>@Html.ActionLink("Brakes", "Components", "Home", new { type = "Brakes" }, null)</li>
                        <li>@Html.ActionLink("Chains", "Components", "Home", new { type = "Chains" }, null)</li>
                        <li>@Html.ActionLink("Cranksets", "Components", "Home", new { type = "Cranksets" }, null)</li>
                        <li>@Html.ActionLink("Deraillers", "Components", "Home", new { type = "Derailleurs" }, null)</li>
                        <li>@Html.ActionLink("Forks", "Components", "Home", new { type = "Forks" }, null)</li>
                        <li>@Html.ActionLink("Headsets", "Components", "Home", new { type = "Headsets" }, null)</li>
                        <li>@Html.ActionLink("Mountain Frames", "Components", "Home", new { type = "Mountain Frames" }, null)</li>
                        <li>@Html.ActionLink("Road Frames", "Components", "Home", new { type = "Road Frames" }, null)</li>
                        <li>@Html.ActionLink("Touring Frames", "Components", "Home", new { type = "Touring Frames" }, null)</li>
                        <li>@Html.ActionLink("Pedals", "Components", "Home", new { type = "Pedals" }, null)</li>
                        <li>@Html.ActionLink("Saddles", "Components", "Home", new { type = "Saddles" }, null)</li>
                        <li>@Html.ActionLink("Wheels", "Components", "Home", new { type = "Wheels" }, null)</li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Clothing
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "Clothing", "Home", new { part = "All" }, null)</li>
                        <li>@Html.ActionLink("Bib-Shorts", "Clothing", "Home", new { part = "Bib-Shorts" }, null)</li>
                        <li>@Html.ActionLink("Caps", "Clothing", "Home", new { part = "Caps" }, null)</li>
                        <li>@Html.ActionLink("Gloves", "Clothing", "Home", new { part = "Gloves" }, null)</li>
                        <li>@Html.ActionLink("Jerseys", "Clothing", "Home", new { part = "Jerseys" }, null)</li>
                        <li>@Html.ActionLink("Shorts", "Clothing", "Home", new { part = "Shorts" }, null)</li>
                        <li>@Html.ActionLink("Socks", "Clothing", "Home", new { part = "Socks" }, null)</li>
                        <li>@Html.ActionLink("Tights", "Clothing", "Home", new { part = "Tights" }, null)</li>
                        <li>@Html.ActionLink("Vests", "Clothing", "Home", new { part = "Vests" }, null)</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Accessories
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "Accessories", "Home", new { type = "All" }, null)</li>
                        <li>@Html.ActionLink("Bike Racks", "Accessories", "Home", new { type = "Bike Racks" }, null)</li>
                        <li>@Html.ActionLink("Bike Stands", "Accessories", "Home", new { type = "Bike Stands" }, null)</li>
                        <li>@Html.ActionLink("Bottles & Cages", "Accessories", "Home", new { type = "Bottles and Cages" }, null)</li>
                        <li>@Html.ActionLink("Cleaners", "Accessories", "Home", new { type = "Cleaners" }, null)</li>
                        <li>@Html.ActionLink("Fenders", "Accessories", "Home", new { type = "Fenders" }, null)</li>
                        <li>@Html.ActionLink("Helmets", "Accessories", "Home", new { type = "Helmets" }, null)</li>
                        <li>@Html.ActionLink("Hydration Packs", "Accessories", "Home", new { type = "Hydration Packs" }, null)</li>
                        <li>@Html.ActionLink("Lights", "Accessories", "Home", new { type = "Lights" }, null)</li>
                        <li>@Html.ActionLink("Locks", "Accessories", "Home", new { type = "Locks" }, null)</li>
                        <li>@Html.ActionLink("Panniers", "Accessories", "Home", new { type = "Panniers" }, null)</li>
                        <li>@Html.ActionLink("Pumps", "Accessories", "Home", new { type = "Pumps" }, null)</li>
                        <li>@Html.ActionLink("Tires & Tubes", "Accessories", "Home", new { type = "Tires and Tubes" }, null)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Michael G. Brown - Homework 6</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>